@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --super-dark-blue: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.4rem;
  background-image: url(../images/bg-stars.svg);
  background-color: var(--very-dark-blue);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CONTENT */

.tick {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.tick-label {
  font-size: 2rem;
  text-align: center;
  color: var(--grayish-blue);
}

.tick-group {
  font-size: 7.5rem;
  text-align: center;
}

.tick-flip-panel {
  color: var(--soft-red);
  background-color: var(--dark-desaturated-blue);
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 14rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
}

.socials {
  height: 33vh;
  margin-top: auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-image: url(../images/pattern-hills.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.social__icon:hover {
  filter: invert(50%) sepia(99%) saturate(1435%) hue-rotate(310deg)
    brightness(100%) contrast(98%);
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--dark-desaturated-blue);
  color: var(--white);
  width: 100vw;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
}

.footer-link,
.footer-link:link,
.footer-link:visited {
  color: var(--soft-red);
  font-weight: 700;
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }

  .tick-group {
    font-size: 6rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 0 4rem;
  }

  .tick-group {
    font-size: 4rem;
  }
}
